body {
    color: white;
    background: #1c1c1c;
    font-family: cursive;
}

p {
    color: grey;
}
h1 {
    color: rgb(235, 63, 120);
    font-family:cursive ;
    background: rgb(168, 231, 43);
}

canvas {
    height: 15px;
    width: 15px;
    border: solid, white, 3px;
}